<template>
  <div>
    <q-field error-label="Select a valid team" :error="invalidTeam">
      <q-select v-model="teamName" filled :use-input="teamId === undefined" fill-input label="Team" @filter="filterFn" @input="teamSelected" :options="listedTeams" class="full-width">
        <template v-slot:option="scope">
          <q-item v-bind="scope.itemProps" v-on="scope.itemEvents">
            <q-item-section>
              <q-item-label v-html="scope.opt.label" />
              <q-item-label caption>{{ scope.opt.id }}</q-item-label>
            </q-item-section>
          </q-item>
        </template>
      </q-select>
    </q-field>
    <q-field class="qa-mt-sm">
      <q-editor v-model="noteContent" toolbar-rounded toolbar-outline toolbar-bg="white" class="fit"/>
    </q-field>
    <q-field class="qa-mt-sm">
      <q-btn color="primary" @click="postNote" label="Save"/>
    </q-field>
  </div>
</template>
<script>
export default {
  props: ['teamId'],
  data () {
    return {
      noteContent: '',
      teamName: '',
      possibleTeamNames: [],
      listedTeams: [],
      targetId: this.teamId,
      invalidTeam: true
    }
  },
  created () {
    this.$api.team.getIdsAndNames().then(data => {
      for (let id in data) {
        let acitem = { id: id, name: data[id], label: data[id], sublabel: id }
        this.possibleTeamNames.push(acitem)
      }
      this.listedTeams = this.possibleTeamNames
    }).catch(e => {
      console.log(e.toString())
    })

    if (this.targetId) {
      this.$api.team.fetchTeamName(this.targetId).then(name => {
        this.teamName = name
        this.invalidTeam = false
      }).catch(e => { this.teamName = '' + e })
    }
  },
  methods: {
    filterFn (val, update, abort) {
      update(() => {
        const needle = val.toLowerCase()
        this.listedTeams = this.possibleTeamNames.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    teamSelected (item, keyboard) {
      this.targetId = item.id
      this.validateTeam()
    },
    validateTeam () {
      console.log('id: ' + this.targetId)
      if (this.targetId === undefined) {
        this.invalidTeam = true
      } else if (!this.$api.team.exists(this.targetId)) {
        this.invalidTeam = true
        console.log('team invalid')
      } else {
        this.invalidTeam = false
        console.log('team valid')
      }
    },
    postNote () {
      this.validateTeam()
      console.log('invalidTeam  = ' + this.invalidTeam)
      if (this.invalidTeam) {
        return
      }

      try {
        this.$api.team.addNote(this.targetId, this.noteContent).then(() => {
          this.$q.notify({
            message: 'Note created.',
            color: 'positive'
          })

          this.$emit('notePosted')
          this.noteContent = ''
        })
      } catch (e) {
        this.$q.notify({
          message: 'Failed. ' + e,
          color: 'negative'
        })
      }
    }
  }
}
</script>
