<template>
  <div>
    <q-btn label="Add Note" icon="add_comment" color="secondary" @click="addNote" class="fit" flat/>
     <q-dialog maximized v-model="showNoteDialog">
       <div class="row gutter bg-white">
         <div class="col-1"/>
         <div class="col-10">
            <add-note-form v-on:notePosted="notePosted" v-bind:teamId="teamId" class="round-borders" />
         </div>
        <div class="col-1"/>
        <div class="col-11"/>
        <div class="col-1">
          <q-btn color="red" @click="showNoteDialog = false" label="Close" />
        </div>
       </div>
    </q-dialog>
  </div>
</template>
<script>
import AddNoteForm from 'components/AddNoteForm'

export default {
  components: {
    'add-note-form': AddNoteForm
  },
  props: ['teamId'],
  data () {
    return {
      showNoteDialog: false
    }
  },
  methods: {
    addNote () {
      console.log('show note dialog for: ' + this.teamId)
      this.showNoteDialog = true
    },
    notePosted () {
      this.showNoteDialog = false
      this.$emit('notePosted')
    }
  }
}
</script>
