<template>
  <div>
    <q-card>
      <q-card-section>
        <div class="text-h6">{{ name }}</div>
      </q-card-section>
      <q-card-actions vertical>
          <team-add-note-btn v-bind:teamId="teamId" class="fit"/>
          <q-btn flat label="History" icon="history" color="secondary" @click="$router.push('/team/' + teamId)"/>
      </q-card-actions>
    </q-card>
  </div>
</template>
<script>
import TeamAddNoteButton from 'components/TeamAddNoteButton'
export default {
  components: {
    'team-add-note-btn': TeamAddNoteButton
  },
  props: ['name', 'teamId'],
  data () {
    return {
      showNoteDialog: false,
      noteContent: ''
    }
  }
}
</script>
