<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <q-toolbar color="primary">
        <q-btn flat dense round @click="leftDrawerOpen = !leftDrawerOpen" aria-label="Menu" >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          Agile Coach Toolkit
          <div slot="subtitle">Running on Quasar v{{ $q.version }}</div>
        </q-toolbar-title>

        <q-btn icon="add_comment" color="secondary" @click="$router.push('/action/addNote')"/>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" content-class="bg-grey-2">
      <q-list no-border link inset-delimiter>
        <q-item clickable v-ripple @click.native="$router.push('/')">
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Home</q-item-label>
          </q-item-section>
        </q-item>
        <q-item-label header>Manage</q-item-label>
        <q-item clickable v-ripple  @click.native="$router.push('/teams')">
          <q-item-section avatar>
            <q-icon name="device_hub" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Teams</q-item-label>
            <q-item-label caption>Manage teams and units</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable v-ripple @click.native="$router.push('/people')">
          <q-item-section avatar>
            <q-icon name="people" />
          </q-item-section>
          <q-item-section>
            <q-item-label>People</q-item-label>
            <q-item-label caption>Manage people details."</q-item-label>
          </q-item-section>
        </q-item>
        <q-item-label header>Settings</q-item-label>
        <q-item clickable v-ripple  @click.native="$router.push('/404')">
          <q-item-section avatar>
            <q-icon name="settings" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Settings</q-item-label>
            <q-item-label caption>User details and configuration.</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'

export default {
  name: 'MainLayout',
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },
  methods: {
    openURL
  }
}
</script>

<style>
</style>
