<template>
  <q-page class="q-ma-sm full-height">
    <add-note-form v-on:notePosted="notePosted"/>
  </q-page>
</template>
<script>
import AddNoteForm from 'components/AddNoteForm'

export default {
  components: {
    'add-note-form': AddNoteForm
  },
  methods: {
    notePosted () {
      this.$router.push('/')
    }
  }
}
</script>
