<template>
  <q-page class="q-ma-md">
    <div class="row">
      <q-btn icon="refresh" dense color="secondary" @click="fetchPeople()" />
      <q-btn icon="add" dense color="secondary" class="q-ml-sm" @click="addPerson()" />
      <q-btn icon="delete" dense color="secondary" class="q-ml-sm" @click="askForConfirmationToDelete()" />
      <q-input v-model="filterContent" clearable placeholder="Filter..." class="q-ml-sm" />
    </div>
    <q-table selection="multiple" :selected.sync="selected" :loading="loading" class="q-mt-md" :filter="filterContent" title="Registered People" :data="tableData" :columns="columnDefinition" row-key="id" />
  </q-page>
</template>
<script>
import axios from 'axios'

export default {
  created () {
    this.fetchPeople()
  },
  methods: {
    fetchPeople () {
      this.tableData = []
      this.loading = true
      this.$api.people.getAllPeople().then(people => {
        this.tableData = people
        this.loading = false
      }).catch(e => {
        this.loading = false
        this.error = e.toString()
      })
    },
    addPerson (event) {
      this.$q.dialog({
        title: 'Register Person',
        color: 'primary',
        ok: true,
        cancel: true,
        preventClose: true,
        position: 'bottom',
        prompt: {
          type: 'text'
        }
      }).onOk(name => {
        this.$api.people.addPerson(name).then(() => {
          this.$q.notify({
            message: 'Person added.',
            color: 'positive'
          })
          this.fetchPeople()
        }).catch(e => {
          this.$q.notify({
            message: 'Failed. ' + e,
            color: 'negative'
          })
        })
      }).onCancel(() => {
        this.$q.notify({
          message: 'Aborted.',
          color: 'negative',
          timeout: 3000
        })
      })
    },
    askForConfirmationToDelete () {
      if (this.selected.length < 1) {
        this.$q.notify({
          message: 'You need to selected people in order to delete them.',
          color: 'negative'
        })
        return
      }

      this.$q.dialog({
        title: 'Delete People',
        color: 'primary',
        ok: true,
        cancel: true,
        preventClose: true,
        position: 'top',
        message: 'Delete selected people?'
      }).onOk(() => {
        this.deleteSelectedPeople()
      }).onCancel(() => {})
    },
    deleteSelectedPeople () {
      let promises = []
      this.selected.forEach(person => {
        promises.push(this.$api.people.delete(person.id))
      })
      axios.all(promises).then(response => {
        this.$q.notify({
          message: 'Deleted ' + this.selected.length + ' people.',
          color: 'positive'
        })
        this.fetchPeople()
        this.selected = []
      }).catch(error => {
        this.$q.notify({
          message: 'Deletion failed: ' + error,
          color: 'negative'
        })
      })
    }
  },
  data: () => ({
    loading: true,
    filterContent: '',
    columnDefinition: [
      {
        name: 'name',
        label: 'Name',
        field: row => row.name.name,
        align: 'left',
        sortable: true
      }
    ],
    tableData: [],
    selected: []
  })
}
</script>
