<template>
  <q-page padding>
    <h4>{{ teamName }}</h4>
    <q-spinner-cube class="absolute-center" size="50" v-if="loading"/>
    <div class="alert alert-danger" v-else-if="error">
      <p>{{ error }}</p>
    </div>
    <div class="row" v-else>

      <div :class="verticalTabs?'col-1':'col-12'">
        <q-tabs v-model="tab" v-bind:vertical="verticalTabs" class="text-primary">
          <q-tab name="history" icon="history" label="History"/>
          <q-tab name="members" icon="people" label="Members"/>
        </q-tabs>
      </div>

      <div class="col-11">
        <q-tab-panels v-model="tab" animated transition-prev="jump-up" transition-next="jump-up">

          <q-tab-panel name="history">
            <div class="row">
              <div class="col-12">
                <team-add-note-btn v-on:notePosted="loadNotes" v-bind:teamId="teamId" v-on:click="this.$router.go()"/>
              </div>
              <div class="col-12">
                <q-timeline :layout="timelineLayout">
                  <q-timeline-entry icon="note" v-for="event in this.events" v-bind:subtitle="event.timestamp" v-bind:key="event.timestamp + event.content">
                    <div v-html="event.content"> </div>
                  </q-timeline-entry>
                </q-timeline>
              </div>
            </div>
          </q-tab-panel>

          <q-tab-panel name="members">
            <div class="row">
              <div class="col-12">
                <member-list :teamId="teamId"/>
              </div>
            </div>
          </q-tab-panel>

        </q-tab-panels>

      </div>
    </div>
  </q-page>
</template>
<script>
import TeamAddNoteButton from 'components/TeamAddNoteButton'
import MemberList from 'components/team/MemberList'

export default {
  components: {
    'team-add-note-btn': TeamAddNoteButton,
    'member-list': MemberList
  },
  data () {
    return {
      loading: true,
      error: false,
      events: {},
      teamName: undefined,
      tab: 'history',
      splitterModel: 20
    }
  },
  computed: {
    teamId () {
      return this.$route.params.id
    },
    timelineLayout () {
      return this.$q.screen.lt.sm ? 'dense' : (this.$q.screen.lt.md ? 'comfortable' : 'loose')
    },
    verticalTabs () {
      return this.$q.screen.gt.sm
    }
  },
  mounted () {
    this.fetchName()
    this.loadNotes()
  },
  methods: {
    fetchName () {
      return this.$api.team.getNameOf(this.teamId).then(name => { this.teamName = name }).catch(e => { this.error = '' + e })
    },
    loadNotes () {
      this.loading = true
      this.$api.team.getNotesOf(this.teamId).then(events => {
        this.transformEvents(events)
        this.loading = false
      }).catch(e => {
        this.error = 'Failed to load notes: ' + e
        this.loading = false
      })
    },
    transformEvents (events) {
      this.events = events.reverse()
      this.events.forEach(e => {
        let date = new Date(e.timestamp * 1000)
        e.timestamp = date.toLocaleString()
      })
    }
  }
}
</script>
