<template>
  <div>
    <q-btn label="add member" icon="person_add" class="fit" flat @click="showInput()" v-if="!inputVisible"/>
    <q-list separator bordered>

      <q-item v-if="inputVisible">
        <q-item-section avatar top>
          <q-avatar icon="add" color="green" text-color="white" />
        </q-item-section>
        <q-item-section>
          <q-select v-model="addMemberName" filled use-input label="Person" @filter="filterFn" @input="personSelected" :options="listedMembers" class="full-width" autofocus>
            <template v-slot:option="scope">
              <q-item v-bind="scope.itemProps" v-on="scope.itemEvents">
                <q-item-section>
                  <q-item-label v-html="scope.opt.name.name" />
                  <q-item-label caption>{{ scope.opt.id }}</q-item-label>
                </q-item-section>
              </q-item>
            </template>
          </q-select>
        </q-item-section>
        <q-item-section side>
          <q-btn icon="cancel" color="red" @click="cancelInput()" flat/>
          <q-btn icon="done" color="green" @click="acceptInput()" flat/>
        </q-item-section>
      </q-item>

      <q-item v-for="(member, id) in members" v-bind:key="id">
        <q-item-section avatar top>
          <q-avatar icon="person" color="primary" text-color="white" />
        </q-item-section>
        <q-item-section>{{ member }}</q-item-section>
        <q-item-section side>
          <q-btn icon="delete" color="secondary" @click="removeMember(id)" flat/>
        </q-item-section>
      </q-item>

    </q-list>
  </div>
</template>

<script>
export default {
  name: 'TeamMemberView',
  props: [
    'teamId'
  ],
  data () {
    return {
      members: { 'person-id-1': 'Max Mustermann', 'person-id-2': 'Nina Mustermann' },
      addMemberName: '',
      addMemberId: undefined,
      listedMembers: [],
      allPerson: [],
      inputVisible: false
    }
  },
  created () {
    this.possibleMemberNames = this.allPerson
    this.listedMembers = this.allPerson
    this.$api.people.getAllPeople().then(people => { this.allPerson = people })
  },
  methods: {
    removeMember (id) {
      console.log('remove: ' + id)
    },
    filterFn (val, update, abort) {
      update(() => {
        const needle = val.toLowerCase()
        this.listedMembers = this.allPerson.filter(v => v.name.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    cancelInput () {
      this.inputVisible = false
      this.addMemberId = undefined
      this.addMemberName = undefined
    },
    acceptInput () {
      if (this.addMemberId === undefined) {
        this.$q.notify({
          message: 'You need to select a person.',
          position: 'bottom',
          color: 'red',
          text: 'white'
        })
      }
      this.$api.team.addMember(this.teamId, this.addMemberId).then(() => {
        this.$q.notify({
          message: 'Member added.',
          position: 'bottom',
          color: 'green',
          text: 'white'
        })
        this.cancelInput()
        // TODO refetch member list
      }).catch(error => {
        this.$q.notify({
          message: 'Failed: ' + error.message,
          position: 'bottom',
          color: 'red',
          text: 'white'
        })
      })
    },
    personSelected (item, keyboard) {
      this.addMemberName = item.name.name
      this.addMemberId = item.id
    },
    showInput () {
      this.inputVisible = true
      console.log(this.$refs.memberInputField)
    }
  }
}
</script>

<style>
</style>
